@font-face {
    font-family: 'PT Serif original';
    src: url('../fonts/subset-PTSerif-Regular.woff2') format('woff2'),
        url('../fonts/subset-PTSerif-Regular.woff') format('woff'),
        url('../fonts/subset-PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif original';
    src: url('../fonts/subset-PTSerif-Bold.woff2') format('woff2'),
        url('../fonts/subset-PTSerif-Bold.woff') format('woff'),
        url('../fonts/subset-PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  line-height: 1.3;
}

p {
  margin: 0 0 0.5em;
}

hr {
  margin: 1em 0;
}

.content__webfont {
  font-family: 'PT Serif original', Georgia, serif;
}